# python 3.12.10
ultralytics
opencv-python==4.10.0.84
numpy
PySide6
PyYAML
pandas
openpyxl
matplotlib
seaborn
scikit-learn

# PyTorch
# CUDA 12.8.2
# pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cu128